<form action="{{ '/update' if id is defined  else '/create' }}" method="post">
  <input type="hidden" name="id" id="id" value="{{ thing.id }}">
  <div class="label">
    <label for="title">Title: <label>
    <input type="text" name="title" id="title" value="{{ thing.title }}" />
  </div>
  <div class="label">
    <label for="author">Author: <label>
    <input type="text" name="author" id="author" value="{{ thing.author }}" />
  </div>
  <div class="label">
    <label for="description">Description: <label>
    <input type="text" name="description" id="description" value="{{ thing.description }}" />
  </div>
  <br />
  <div class="label">
    <input type="submit" value="{{ 'Update' if id is defined  else 'Save' }}"/>
  </div>

</form>

<br />
<a href="/index">Back</a>
